h1 {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
   font-size: 100px;
   color: rgb(146, 88, 33);
   text-align: center;
}
body {
   background-color: beige;
}
p {
   padding: 5px;
   font-family: unset;
   font-size: 25px;
   text-align: center;
}